<h2>Recipes</h2>


<% if @recipes %>
  <% @recipes.each do |preference|%>
    <% preference.each do |recipe| %>
      <p>
        <h3><a href = <%= recipe[:url] %> ><%= recipe[:name] %></a></h3>
        <img src = <%= recipe[:image] %> alt='no image'>
        <li>Fats: <%= recipe[:fats] %> grams</li>
        <li>Protein: <%= recipe[:protein] %> grams</li>
        <li>Carbs: <%= recipe[:carbs] %> grams</li>
      </p>
    <% end %>
  <% end %>
<% end %>
