<div class = "display" >
  <div class = "description panel clearfix">
    <p class = "user right"><%= "Hi, #{@user.username}! Because you are a #{@user.height} inch, #{@user.weight} pound #{@user.gender}, who is #{@user.activity}, and wants to #{@user.goal}, you should be consuming about #{@user.goal_multiplier.round(0)} calories per day. Remember this is just an estimate to base line your needs off of. If need be you can edit you activity level to raise or reduce your actual needs. Remember an activity level of very high indicates that you are working out everyday at a high level. High activity would correlate to 4 work outs per week, where as active would be once or twice per week. Here are the  Macronutrional Values we are going to try to tailor your diet:" %></p>
    <p>
      <%= link_to 'Edit', edit_user_path(current_user) %><%= render 'layouts/nav_bar' %>
    </p>

    <p class = "values">
      <%= render 'calories' %>
    </p>

    <div class = "row">
      <div class = "large-centered large-8 columns">
        <%= render 'layouts/new_preference' %>
      </div>
    </div>

  <% if @user.recipes %>
    <h2 class = "recipe-show">Your Recipes</h2>
    <div class = "show-recipe">
      <% @user.recipes.each do |recipe| %>
        <div class = "recipe grid-3">
          <h5><a class = "recipe-tag" href = <%= recipe[:url] %> ><%= recipe[:name] %></a></h5>
          <div><img class = "index" src = <%= recipe[:image] %> alt='no image'></div>
          <ul class = "info">
            <li>Fats: <%= recipe[:fats].round(0) %> grams</li>
            <li>Protein: <%= recipe[:protein].round(0) %> grams</li>
            <li>Carbs: <%= recipe[:carbs].round(0) %> grams</li>
          </ul>
        </div>
      <% end %>
  <% end %>
  </div>
  </div>
</div>

